/*
@import 'prism-theme-vars/base.css';
@import 'codemirror-theme-vars/base.css';
@import 'prism-theme-vars/to-codemirror.css';
@import 'prism-themes/themes/prism-gruvbox-dark.css';

pre[class*='language-'] {
  @apply p-2;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: none;
  color: #fbf1f3;

  .token.delimiter,
  .token.boolean,
  .token.keyword,
  .token.selector,
  .token.important,
  .token.atrule {
    color: #E6A529;
  }

  .token.class-name,
  .token.generic {
    color: #fc0d1a;
  }

  .token.tag,
  .token.tag .punctuation,
  .token.doctype,
  .token.builtin,
  .token.function {
    color: #fbf1f3;
  }
}
*/

:root {
  --prism-font-family: var(--slidev-code-font-family);
}


:not(pre) > code {
  @apply font-light py-0.5 rounded;
  font-size: 0.9em;
  font-weight: 100;
  color: #bebebe;
  background-color: rgba(256, 256, 256, 0.1);
  padding: 0 0.2em;
}

pre.slidev-code {
  border: solid 1px #bebebe;
}

:root {
  --shiki-color-text: #bebebe;
  --shiki-color-background: rgba(256, 256, 256, 0.1);
  --shiki-token-constant: #BD7A36;
  --shiki-token-string: #483723;
  --shiki-token-comment: #B2EB82;
  --shiki-token-keyword: #c62222;
  --shiki-token-parameter: #D2D63B;
  --shiki-token-function: #bebebe;
  --shiki-token-string-expression: #BA4710;
  --shiki-token-punctuation: #bebebe;
  --shiki-token-link: #EE0000;
}